@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    font-family: 'Permanent Marker', cursive;
    min-height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(65deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 100%);
    background-attachment: fixed;

    /* don't select text when double click */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

h1{
    font-size: 80px;
    color: white;
    margin-bottom: 0;
    cursor: pointer;
}

h2 {
    color: #ff0042; /*#AC032F another good color*/
    margin-top: 0;
    margin-bottom: 90px;
    text-shadow: 2px 1px 10px #000000;
}

body {
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 330px;
    cursor: pointer;
}

.white-keys {
    flex-flow: row wrap;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
    border: solid black 3px;
    text-align: center;
    font-size: 35px;
    max-width: 60px;
    width: 40px;
    padding-top: 200px;
    height: 100px;
    z-index: 1;
}

.black-keys:hover{
    transition: background-color ease 0.2s;
    background-color: #473333;
}

.white-keys:hover{
    transition: background-color ease 0.2s;
    background-color: lightgray;
}

.black-keys {
    position: absolute;
    padding-top: 90px;
    padding-bottom: 20px;
    background-color: black;
    height: 20px;
    width: 28px;
    color: white;
    z-index: 2;
    text-align: center;
    top: 13px;
}


.w{
    left: 56px;
}

.e{
    left: 122px;
}

.t{
    left: 254px;
}

.y{
    left: 320px;
}

.u{
    left: 387px;
}

.white-keys kbd{
    background: rgb(2,0,36);
    background: linear-gradient(65deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 100%);
    background-size: 10%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

kbd {
    font-family: 'Permanent Marker', cursive;
}

.author{
    text-align: left;
    margin-top: 90px;
    margin-bottom: 0;
}
